* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  background-color: #4e75ff;
  border-style: none;
}

button:hover {
  background-color: #6c8cff;
  cursor: pointer;
}

input,
input:focus {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
}

input:hover {
  border: 1px solid #000;
}

.categories {
  color: #2e2f42;
  display: flex;
  gap: 24px;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background-color: #f6f6fe;
}

.item > h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}

.item > ul > li {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 16px;
  margin-top: 8px;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  width: 1128px;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
  padding: 0;
}

#name-input {
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
}

#name-output,
h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #2e2f42;
}

.login-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background-color: #fff;
}

.login-form > label {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
  width: 360px;
  height: 72px;
  margin-bottom: 8px;
}

.login-form .input,
.login-form .input:focus {
  width: 360px;
  height: 40px;
}

.login-form > button {
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  margin-top: 8px;
}

.widget {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  padding: 100px 50px;
  width: 345px;
  height: 280px;
  background-color: #fff;
}

.widget p,
.widget span {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  padding: 8px 16px;
  width: 148px;
  height: 40px;
}

#controls {
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 104px;
  background-color: #f6f6fe;
  margin-bottom: 16px;
}

#controls input {
  border-radius: 8px;
  padding: 8px 8px 8px 72px;
  width: 150px;
  height: 40px;
}

button[data-create] {
  padding: 8px 16px;
  width: 120px;
  height: 40px;
}

button[data-destroy] {
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background-color: #ff4e4e;
}

button[data-destroy]:hover {
  background-color: #ff7070;
}

#boxes {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 16px;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  height: 160px;
  background-color: #f6f6fe;
  overflow: visible;
}
#boxes > div {
  flex-shrink: 0;
}
